* {box-sizing: border-box;}

body{
    height: 100vh;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

h4 { color: steelblue;}

.btn{
    margin: 10px 0px;
}

.tools{
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 8px;
    user-select: none;
    transition: all 0.5s;
}

.tools:hover{
    border-color: transparent;
    box-shadow: 0 0 3px #999;
}

.tools .btn{
    border: 1px solid transparent;
    /* border: none !important; */
    transition: all 0.3s;
}

.tools .btn:hover{
    color: #000;
    background-color: #ddd !important;
    border: 1px solid #bbb;
    border-radius: 18px !important;
}

.tools .btn:active{
    color: #000 !important;
    background-color: transparent !important;
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
}

textarea{
    border-color: steelblue;
    padding: 10px;
    resize: none !important;
    overflow-y: scroll;
}

.btn-cancel,
.btn-submit{
    background: #ccc;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px 12px;
    transition: all 0.3s;
}

.btn-submit{
    color: #fff;
    background: steelblue;
}

.btn-cancel:hover,
.btn-submit:hover{
    border: 1px solid transparent;
    border-radius: 18px;
}

.divarea{
    width: 100%;
    min-height: 200px;
    max-height: 350px;
    text-align: justify;

    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    
    resize: vertical;
    overflow-y: scroll;
}

.divarea:focus{
    outline: 2px solid #ccc;
}