* {box-sizing: border-box;}

body{
    height: 100vh;
    font-family: sans-serif;
    background-color: #888;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.container{
    width: 600px;
    background-color: #fff;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);

    display: flex;
}

.dotbox{
    width: 10%;
}

.dot{
    display: block;
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;

    margin: 10px auto;
    opacity: 0.5;
}

.dot.active{
    opacity: 1;
}

.dot.done{
    background-color: green;
}

.dot.error{
    background-color: red;
}

#form{
    width: 90%;
    border-left: 2px solid #eee;
    padding: 50px;
}

h1{
    text-align: center;
}

.page{
    display: none;
}

input{
    width: 100%;
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

input:focus{
    outline: none;
}

input.invalid{
    border: 1px dotted red;
}

.d-flex{
    display: flex;
    justify-content: end;
}

.btn{
    color: #fff;
    font-size: 20px;
    background-color: steelblue;
    border: none;
    padding: 10px 20px;
    margin: 0 3px;
    cursor: pointer;
}

.btn:first-child{
    background-color: #aaa;
}

.btn:hover{
    opacity: 0.8;
}

#result-container{
    width: 90%;
    display: none;
}